.InvoicePage {
  .WrapperComponent {
    width: 100%;
    overflow-x: auto;

    .sticky-column {
      position: sticky;
      left: 0;
      background-color: white;
      z-index: 1;
    }
    
    .Expand  {
      width: 100% !important;
      white-space: nowrap !important;
    };
  };

  .TotalsContainer {
    display: flex;
    /* Use Flexbox for layout */
    justify-content: flex-end;
    /* Align items to the start (left) */

    .Table {
      width: 300px;
      .tr {
        width: 100%; /* Expand to the full width of the parent container */
        height: 100%; /* Expand to the full height of the parent container */
        margin: 0; /* Remove any default margins */
      }
    }
  }
}